*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ;
}

.head{
    width: 400px;
}

.wrapper{
    width: 100%;
    overflow: hidden;
}

.pic{
    margin-top: 1000px;
    width: 350px;
}
